
.container {
    color: rgb(227, 219, 216);  
    padding: 20px;
    margin: 20px;

}

.title {
    color: #64ffda;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    text-align: center; 
    text-decoration: underline;

}


.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 24px;

}

/* Skills Section */
.skills {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.skillimagecontainer {
    background-color: rgb(246, 244, 242);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}

.skillimagecontainer img {
    width: 75px;
    height: 75px;
    border-radius: 100px;
}

.skill p {
    font-size: 20px;
    font-family: initial;
    font-weight: 500;
}

.history {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
}

.historyitem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    background: rgba(255, 255, 255, 0.1); /* Transparent overlay */
    border-radius: 10px;
    padding: 24px;
}

.historyitemdetails h3 {
    font-size: 20px;
    font-weight: 500;
}

.historyitemdetails ul {
    margin-top: 6px;
    list-style-position: inside;
    font-size: 18px;
    list-style-type: disc;
    margin-left: 17px;
}


@media (max-width: 1024px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .skills, .history {
        width: 90%;
         }
    
}

@media (max-width: 768px) {
    .title {
        font-size: 28px;
    }

    .history {
        width: 100%;
        padding: 15px;
    }

    .historyitem {
        flex-direction: column;
        align-items: flex-start;
    }

    .historyitemdetails h3 {
        font-size: 18px;
    }

    .historyitemdetails ul {
        font-size: 16px;
    }

    .skill p {
        font-size: 16px;
    }
}
